In [3]:
import pandas as pd
startup = pd.read_csv('E:\\Data Science\\Datasets\\startup.csv')
startup.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
pd.set_option("display.max_rows", None, "display.max_columns", None)
plt.rcParams["figure.figsize"]=(7,7)

In [6]:
startup.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [7]:
startup.rename(columns={"Date dd/mm/yyyy": "Date", 'Startup Name': 'StartupName', 'Industry Vertical':'IndustryVertical',
       'SubVertical': 'SubVertical', 'City  Location': 'CityLocation', 'Investors Name': 'InvestorsName', 'InvestmentnType':'InvestmentnType',
       'Amount in USD':'AmountUSD', 'Remarks':'Remarks'}, inplace=True)
startup.head()

,Sr No,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [8]:
index = startup.columns
index
startup.head()
startup.drop(columns = index[0], axis = 1,inplace = True)
startup.head(2)

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD,Remarks
0,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN

In [9]:
startup['AmountUSD'] = startup['AmountUSD'].astype(str)
#sorted(startup['AmountUSD'])[:5]

In [10]:
date_expand = startup['Date'].str.extract(r'(\d{2})/(\d{2})/(\d{4})')
startup['Date'].str.extract(r'(\d{2})/(\d{2})/(\d{4})')
startup['Year'] = date_expand[2]
startup['Month'] = date_expand[1]
startup['NewDate'] = date_expand[0]+'/'+date_expand[1]+'/'+date_expand[2]
startup.head()
#date_expand.head()

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD,Remarks,Year,Month,NewDate
0,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN,2020,01,09/01/2020
1,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN,2020,01,13/01/2020
2,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN,2020,01,09/01/2020
3,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN,2020,01,02/01/2020
4,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN,2020,01,02/01/2020

In [11]:
#Converting date datatype to Datetime
startup['NewDate'] = pd.to_datetime(startup['NewDate'])#['Date']
startup.head()
print(type(startup['NewDate'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [12]:
startup.shape

(3044, 12)

In [13]:
# 5. Converting datatype of values in 'AmountUSD' column from string to float. Marking Undisclosed values to 'nan' and then converting into float type
#se = startup['AmountUSD'].isin(['nan'])
#startup[se]
startup.loc[startup['AmountUSD'].isin(['undisclosed', 'Undisclosed','unknown']),'AmountUSD'] ='nan'
#startup.head()
startup['AmountUSD'] = startup['AmountUSD'].astype(str)
startup['NewAmountUSD'] = startup['AmountUSD'].apply(lambda x : re.sub("[^0-9]" ,  ""  , x))
startup['NewAmountUSD']
startup.loc[startup['NewAmountUSD']=='', 'NewAmountUSD'] = 0 #'nan' # replace with average of funding provided that months 
startup['NewAmountUSD']
startup['NewAmountUSD'] = startup['NewAmountUSD'].astype(float)
#startup['AmountUSD']
print(type(startup['NewAmountUSD'][0]))

<class 'numpy.float64'>

In [14]:
startup.dtypes

Date                        object
StartupName                 object
IndustryVertical            object
SubVertical                 object
CityLocation                object
InvestorsName               object
InvestmentnType             object
AmountUSD                   object
Remarks                     object
Year                        object
Month                       object
NewDate             datetime64[ns]
NewAmountUSD               float64
dtype: object

In [15]:
#startup.loc[startup['Year'].isin(['NaN']) , 'Year'] = startup['Year'].mode()
#startup['Year'] = startup['Year'].astype(str)
#md.data_miss_str(startup,'Year')

startup.loc[startup['Year'].isin(['nan','NaN']), 'Year'] #= pd.DataFrame(startup['Year'].mode())[0][0]
#startup.loc[startup['Year']=='NaN','Year'] = startup['Year'].mode()

#startup['Year'] = startup['Year'].astype(int)

Series([], Name: Year, dtype: object)

#### Cleaning CItyLocation

In [16]:

#type(startup['CityLocation'])
#startup.dtypes
startup['CityLocation'] = startup['CityLocation'].astype(str)
#startup['CityLocation']
startup['CityLocation'].apply(lambda a: a if 'xc' in a else '')
# cleaning disturbed CityLocation
startup['CityLocation'] = startup['CityLocation'].apply(lambda d: d.split('0')[1] if 'xc' in d else d.split(' ')[1] if 'xc' in d and ' ' in d else d )
#startup['CityLocation']
#Data with no CityLocation
#--ne = startup['CityLocation'].isin(['nan'])
#--startup[ne]

#### Cleaning IndustryVertical

In [17]:
startup['IndustryVertical'] = startup['IndustryVertical'].astype(str)
de = startup['IndustryVertical'].apply(lambda a: a if 'xc' in a else '0')
de = pd.DataFrame(de)
s = de['IndustryVertical'].isin(['0'])
#de[~s]
startup['IndustryVertical']=startup['IndustryVertical'].apply(lambda j: re.sub("[\\xc2\\xa0]","",j))
startup['IndustryVertical']=startup['IndustryVertical'].apply(lambda j: re.sub("[\\xc2\\xa2]","",j))
startup['IndustryVertical']=startup['IndustryVertical'].apply(lambda j: re.sub("[\\\\xc2\\\\xa0]","",j))
startup.loc[startup['IndustryVertical'].isin(["ECommerce", "E-Commerce", "E-commerce", "Ecommerce"]), 'IndustryVertical'] = 'eCommerce'
startup.loc[startup['IndustryVertical'].isin(["Fin-Tech"]), 'IndustryVertical'] = 'FinTech'
#re.sub("[\\\\xc2\\\\xa0]","",startup['IndustryVertical'][2602])

#### Cleaning InvestorsName

In [18]:
startup.loc[startup['InvestorsName'].isin(['Undisclosed investors', 'Undisclosed', 'undisclosed investors', 'Undisclosed Investor', 'Undisclosed investors']), 'InvestorsName'] = 'Undisclosed investors'
startup['InvestorsName'] = startup['InvestorsName'].astype(str)
startup['InvestorsName'].astype(str).apply(lambda s: s+'---------------------------' if '\\\\xc2\\\\xa0' in s else '')
startup['InvestorsName'] = startup['InvestorsName'].apply(lambda s: re.sub("\\\\xc2\\\\xa0",'',s)[0] if '\\\\xc2\\\\xa0' in s else s)

## E-commerce

In [19]:
startup.head()

,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType,AmountUSD,Remarks,Year,Month,NewDate,NewAmountUSD
0,09/01/2020,BYJU’S,E-Teh,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN,2020,01,2020-09-01,200000000.0
1,13/01/2020,Shuttl,Trnsporttion,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN,2020,01,2020-01-13,8048394.0
2,09/01/2020,Mamaearth,E-ommere,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN,2020,01,2020-09-01,18358860.0
3,02/01/2020,https://www.wealthbucket.in/,FinTeh,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN,2020,01,2020-02-01,3000000.0
4,02/01/2020,Fashor,Fshion nd Apprel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN,2020,01,2020-02-01,1800000.0

In [20]:
task = startup[['StartupName','IndustryVertical','SubVertical','CityLocation','InvestorsName','InvestmentnType']]
task.head()
task.shape

(3044, 6)

In [26]:
startup.to_csv('C:\\Users\\the GREAT^\\Desktop\\Python\\Untitled Folder\startup.csv')
#task1.to_csv('C:\\Users\\the GREAT^\\Desktop\\Python\\Untitled Folder\startup.csv')

In [27]:
#task_ecom = task.loc[task['IndustryVertical'].isin(['eCommere'])]
task.loc[(task['InvestorsName'].apply(lambda s : True if 'letsven' in s.strip().lower() else False) )]#| (task['IndustryVertical'].apply(lambda s : True if 'ecomm' in s.strip().lower() else False) )])
#task_ecom.loc[task_ecom['InvestorsName'].apply(lambda s : True if 'sivache' in s.strip().lower() else False)]

,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentnType
19,Sunstone Eduversity Pvt. Ltd,Edution,Elearning,Gurgaon,"Prime Venture Partners, LetsVenture, PS1 Ventu...",Seed
112,FleetX,AI,Logistics,Gurgaon,India Quotient and LetsVenture\\xe2\\x80\\x99s...,Pre Series A
114,NanoClean Global,Nnotehnology,Anti-Pollution,New Delhi,"LetsVenture, PitchRight Venture, 91SpringBoard...",Series A
238,Nivesh,Finne,Mass Market Mutual Fund Investment Platform,Noida,"LetsVenture, Rajan Anandan, Basab Pradhan, Viv...",Seed/ Angel Funding
245,RentSher,Consumer Internet,Online Rental Marketplace,Bengaluru,"Shorooq Investments, LetsVenture & Others",Seed/ Angel Funding
268,Cashkumar,Consumer Internet,P2P Lending Platform,Bengaluru,LetsVenture,Seed/ Angel Funding
417,Glassic,Eommere,Eyewear,Bengaluru,"Chennai Angels, Lead Angels, LetsVenture",Angel / Seed Funding
630,MyUpchar,Consumer Internet,Local Language Health Information portal,New Delhi,LetsVenture,Seed Funding
635,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding
800,Nightstay,Consumer Internet,Last minute hotel booking mobile app,New Delhi,"Indian Angels Network, LetsVenture",Seed Funding
802,MyGreens,Food & Beverge,Cold-press Juices manufacturer,New Delhi,"Ajay Relan, LetsVenture",Seed Funding
993,FalconBrick,Tehnology,Real-Estate Workflow mobile app,Bangalore,"Satveer Thakral, LetsVenture, Mumbai Angels",Seed Funding
1028,Aisle,Consumer Internet,Online match-making app,Bangalore,"Konglo Ventures, White Unicorn Ventures, LetsV...",Seed Funding
1127,Netree,eCommere,Mobile-only Retailers Engagement Solution,New Delhi,"The Chennai Angels, LetsVenture",Seed Funding
1128,BookEventz,Consumer Internet,"Venue, Events Booking platform",Mumbai,Investors from Mumbai Angels & LetsVenture,Seed Funding
1182,BookEventz,Consumer Internet,Online event-booking platform,Mumbai,"Lead Angels, Mumbai Angels, LetsVenture, Giris...",Seed Funding
1190,LetsMD,Consumer Internet,Healthcare Services Comparison Platform,New Delhi,"Calcutta Angels Network, LetsVenture, Anupam M...",Seed Funding
1382,JustLikeNew,eCommere,Online gadget Repair Services Marketplace,Hyderabad,LetsVenture,Seed Funding
1619,BYG,Consumer Internet,Fitness centre Discovery & Booking Mobile app,Bangalore,"Sanjay Verma, Amit Khanna (LetsVenture)",Seed Funding
1786,Betaout,eCommere,customer intelligence and marketing automation...,Noida,"Stanford Angels, LetsVenture, Chennai Angels, ...",Private Equity
2034,SavvyMob,ECommere,Last Minute Hotel Bookings mobile marketplace,Bangalore,"TV Mohandas Pai, LetsVenture",Seed Funding
2152,OnlineRTI,Online RTI pplition servies,NaN,Bangalore,"LetsVenture, Mohandas Pai",Seed Funding
2327,Gridle,Cloud Bsed Collbortion pltform,NaN,Ahmedabad,LetsVenture,Seed Funding
2492,Ketto,Crowd funding pltform,NaN,Mumbai,"Chennai Angels, Calcutta Angels, ah! Ventures,...",Seed Funding
2505,Inkmonk,Online printing mrketple,NaN,Chennai,"Girish Mathrubootham, Phanindra Sama, Vikram C...",Seed Funding
2519,Massblurb,Digitl Mrketing utomtion solution,NaN,Mumbai,"LetsVenture, Mumbai Angels",Seed Funding
2555,Belita,On-Demnd Beuty Servie,NaN,Mumbai,"India Quotient, LetsVenture investors, Lead An...",Seed Funding
2908,CollateBox,nn,NaN,nan,LetsVenture,Seed Funding

In [23]:
task['InvestorsName'][1780]

'Pawan Munjal, AdvantEdge Partners, Astarc Ventures'

## EDA

In [ ]:
#del startup_data
#sd = startup[['Date', 'Year', 'Month', 'StartupName', 'IndustryVertical', 'SubVertical', 'CityLocation', 'InvestorsName', 'InvestmentnType', 'NewAmountUSD']]
#sd['Date'] = pd.to_datetime(sd.Date)
#sd['Date']=='05/072018'
#sd.set_index('Date', inplace=True)
#startup_data.head()
#sd.head()
#sd.drop(192,axis = 0,inplace = True)
#sd.iloc[192]

### How does funding change with time

In [ ]:
#sd[sd['Year'].isin(['NaN'])]

#sd['Year'].apply(lambda s: s if s=='NaN' else '')

#sd['Year'] = sd['Year'].astype(float)

#sd['Year'] =sd['Year'].apply(lambda s: '0' if s == 'nan' else s)
#sd['Year'].mode()#[192]
#sd.loc[sd['Year'] == 0,'Year'] =sd['Year'].mode()
#sd.dtypes

In [ ]:
sd.loc[sd['NewAmountUSD'] == 0,'NewAmountUSD'] =sd['NewAmountUSD'].mean()

In [ ]:
sd.dtypes

In [ ]:
sd.head()

In [ ]:
sd.describe()

# Outliers

In [ ]:
def outliers(df):
    Q1=df.quantile(0.25)
    Q3=df.quantile(0.75)
    IQR=Q3-Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
   # print(IQR,Q1)
    return (lower_bound,upper_bound)

In [ ]:
startup.shape

In [ ]:
lp,up = outliers(sd['NewAmountUSD'])
print(lp,up)

In [ ]:
sd['NewAmountUSD'].quantile(0.1)

In [ ]:
lpd = sd.NewAmountUSD < lp#sd['NewAmountUSD'].quantile(0.1)
upd = sd.NewAmountUSD > up

In [ ]:
len(sd[lpd|upd])

In [ ]:
sdo = sd[~(lpd|upd)]
sdo.dtypes

In [ ]:
sdo.loc[sdo['CityLocation'].isin(['Bengaluru','New Delhi', 'Gurgaon','Mumbai']) ]

In [ ]:
sdo['CityLocation'].unique()

In [ ]:
#sdo.loc[sdo['CityLocation'].isin(['US','US/India', 'USA','USA/India','India / US','India/US']),'CityLocation'] = 'USA/India'
#sdo.loc[sdo['CityLocation'].isin(['US','US/India', 'USA','USA/India','India / US','India/US']),'CityLocation'] = 'Benguluru'
#sdo.loc[sdo['CityLocation'].isin(['Ahemadabad','Ahemdabad', 'Ahmedabad']),'CityLocation'] = 'Ahemadabad'
#sdo.loc[sdo['CityLocation'].isin(['Bhubaneswar','Bhubneswar']),'CityLocation'] = 'Bhubaneshwar'
#sdo.loc[sdo['CityLocation'].isin(['Kolkatta']),'CityLocation'] = 'Kolkata'
#sdo.loc[sdo['CityLocation'].isin(['Kolkatta']),'CityLocation'] = 'Kolkata'
#sdo.loc[sdo['CityLocation'].isin(['Gurugram']),'CityLocation'] = 'Gurgaon'
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'New Delhi' if 'Delhi' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Mumbai' if 'Mumbai' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Pune' if 'Pune' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Noida' if 'Noida' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Gurgaon' if 'Gurgaon' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Chennai' if 'Chennai' in a else a)



#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'Bengaluru' if 'Bangalore' in a else a)
#sdo['CityLocation'] = sdo['CityLocation'].apply(lambda a : 'USA/India' if 'USA' in a and 'USA/India' not in a else a)

In [ ]:
#localdata = sdo.loc[sdo['CityLocation'].isin(['Bengaluru','New Delhi', 'Gurgaon','Mumbai','USA/India'])]
#sns.boxplot(x = 'Year',y = 'CityLocation',data = localdata)
funding_count_yr = pd.DataFrame(sdo['Year'].value_counts())
funding_count_yr.rename(columns={"Year":"Number of Fundings"}, inplace=True)
funding_count_yr

In [ ]:
#sdo.groupby(by=['Year'])['NewAmountUSD'].sum()
total_fund_yr =pd.DataFrame(sdo.groupby(by = 'Year')['NewAmountUSD'].sum())
#total_fund_yr#.columns

In [ ]:
#import plotly.express as px
#px.bar(x = funding_count_yr.index, y= funding_count_yr['Number of Fundings'], color = funding_count_yr.index)

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=1, figsize=(18,8))

sns.barplot(x=funding_count_yr.index, y=funding_count_yr['Number of Fundings'], data=funding_count_yr, ax=axes[0], orient='v')

sns.barplot(x=funding_total_yr.index, y=funding_total_yr['Total Funding(USD-Bn)'], data=funding_total_yr, ax=axes[1], orient='v')

fig.tight_layout(pad=3)
plt.show()

# Startups in a City

In [ ]:
city_counts = pd.DataFrame(sdo['CityLocation'].value_counts())
city_counts.rename(columns = {'CityLocation': 'city_counts'}, inplace = True)
city_counts.head()
city_counts.sum()

In [ ]:
#city_counts.drop(index ='nan', axis = 0, inplace = True)
#city_counts.reset_index(inplace = True)
#city_counts.rename(columns = {'index' : 'city'},inplace = True)
city_counts.head()

In [ ]:
datacount = pd.DataFrame(city_counts.loc[city_counts['city_counts'] >= 50])
datacount.head()
sns.barplot(x='city', y= 'city_counts',hue = 'city' ,data = datacount)

## Who funded maximum startups ?
## Who funded maximum amount on startups ?

In [ ]:
#pd.DataFrame(sdo.groupby(by = ['InvestmentnType'])['NewAmountUSD'].sum()).sort_values(by = 'NewAmountUSD', ascending=False)
#pd.DataFrame(sdo.groupby(by = ['InvestorsName'])['NewAmountUSD'].sum()).sort_values(by = 'NewAmountUSD', ascending=False).head()
#count_start = 
no_of_start = pd.DataFrame(sdo['InvestorsName'].value_counts()).drop(index = ['Undisclosed investors','Undisclosed Investors',
 'nan'],axis =0).reset_index().rename(columns = {'InvestorsName':'No_of_startup_funding',"index":'InvestorsName'}).sort_values(by = 'InvestorsName', ascending=True)
no_of_start.set_index('InvestorsName',inplace =True)
no_of_start.reset_index(inplace = True)

ind = list(no_of_start['InvestorsName'])


amount = pd.DataFrame(sdo.loc[sdo['InvestorsName'].apply(lambda s : True if s in ind else False)].sort_values(by = 'InvestorsName').groupby(by = 'InvestorsName')['NewAmountUSD'].sum())
amount.rename(columns ={'NewAmountUSD': 'sum_of_funding'} , inplace = True)
amount.reset_index(inplace = True)
amount.sort_values(by= 'InvestorsName', inplace = True)
amount

no_of_start['sum'] = amount['sum_of_funding']
print('\n-------------------------Investor funding maximum No. of Startups-------------------------\n',
      no_of_start.sort_values(by = 'No_of_startup_funding', ascending= False).head())
print('\n-------------------------Investor spend maximum amount-------------------------\n',
      no_of_start.sort_values(by = 'sum', ascending= False).head())

# Industry Vertical
## Which Industry is getting more investors

In [ ]:
#sdo.loc[sdo['IndustryVertical'].apply(lambda s: True if 'omme' in s.lower()  else False),'IndustryVertical'] = 'eCommerce' 
#sdo.loc[sdo['IndustryVertical'].apply(lambda s: True if 'edution' == s.lower()   else False),'IndustryVertical'] = 'Education'

#sdo.loc[sdo['IndustryVertical'].apply(lambda s: True if 'consumer internet' in s.lower()  else False)]
#sdo['IndustryVertical'].apply(lambda s: 'online' if 'online' in s.lower()  else '')
#sdo.loc[sdo['IndustryVertical'].apply(lambda s: True if 'online' in s.lower()  else False),'IndustryVertical'] = 'Online'

#indust = pd.DataFrame(sdo['IndustryVertical'].value_counts().head(10))
#indust.reset_index(inplace = True)
#indust.rename(columns = {'index': 'Industry'}, inplace =True)
#indust.drop(index = 3, axis =0, inplace = True)
#indust['Industry']
sns.barplot(x='Industry', y = 'IndustryVertical', hue = 'Industry',data = indust)

# Which company got maximum investors

In [ ]:
sdo.sort_values(by = 'StartupName')

In [2]:
#sdo['StartupName'].value_counts()
pd.DataFrame(sdo['StartupName'].value_counts()).sort_values(by='StartupName', ascending=False)[:15]

NameError: name 'pd' is not defined

# Amout raised by startup

In [ ]:
pd.DataFrame(sdo.groupby(by = 'StartupName')['NewAmountUSD'].sum()).sort_values(by='NewAmountUSD',ascending = False).head()

In [ ]:
len(pd.DataFrame(sdo.loc[sdo['NewAmountUSD'] >=100000,'NewAmountUSD']).sort_values(by = 'NewAmountUSD'))

In [ ]:
sns.distplot(sdo['NewAmountUSD'])
plt.show()
sns.distplot(sdo.loc[sdo['NewAmountUSD'] >=100000,'NewAmountUSD'])
#pd.DataFrame(sdo.loc[~sdo['NewAmountUSD'].isin([0]),'NewAmountUSD']).sort_values(by = 'NewAmountUSD')
#.sort_values(by )
sdo.loc[sdo['NewAmountUSD'] >=100000,'NewAmountUSD'].describe()